body {
  background: #F5FFFA;
}

main {
    padding-top: 50px;

}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

h1 {
  color: green;
}

.nav-link {
  height: fit-content;
}

.navbar-nav {
  align-items: center;
}

.val {
  color: #1E90FF;
  font-size: 34px;
  font-family: Verdana;
}

.carousel-inner{
  height: 500px;
  margin-top: 20px;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
  transform: translateY(-30%);
}

.val2 {
  color: #1E90FF;
  font-size: 34px;
  font-family: Verdana;
  margin-top: 30px;
}

.content{
  font-size: 34px;
  line-height: 70%;
  text-align: center;
  font-weight: normal;
  display: block;
  text-transform: none;
  margin-bottom: 0!important;
  margin-top: 0px;
  padding: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.two-blocks{
  border: 2px solid #C0C0C0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
}

.vse{
  margin-top: 15px;
  color: #FF7F50;
  font-size: 70%;
}

.text-onas {
  width: 45%;
  font-size: 50%;
  margin: 5px 10px;
}

.list2b {
    margin-bottom: 8px;
    padding:0;
    list-style: none;
    counter-reset: li;
    margin-left: 132px;
    margin-right: 132px;
}
.list2b li {
    position: relative;
    border: 2px solid #DDDDDD;
    background: #FAFAFA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.otstup{
    margin-top: 5px;
    text-align: left;
}

.to_cart {
    margin-left: 212px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 150px;
  grid-auto-rows: minmax(100px, auto);
  background-image: url(/static/fon.jpg);
  margin: 20px auto;
  padding: 35px;
}

.shop_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  grid-auto-rows: 150px;
  grid-auto-rows: minmax(100px, auto);

  padding: 35px;

}

.d-block {
  display: none;
}

.icon {
  height: 100px;
  width: 100px !important;
  vertical-align: middle !important;
  margin-bottom: 30px;
}

.categories {
    background-color: white;
    padding: 35px;
    margin-top: 75px;
    outline: 1px solid #bdbdbd; /* Чёрная рамка */
    border-radius: 15px;

}

.search-button {
    margin-left: 15px;
    margin-bottom: 2px;
}

.search-form {
    margin-left: 35px;
}

.myfield {
    width: 600px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;

}

.paginbutt {
    margin-left: 35px;
}

.mylink {
    color: black;
}

.icon_cart {
  height: 40px;
  width: 40px !important;
  vertical-align: middle !important;
  margin-bottom: 2px;
    margin-top: 2px;

}

.link {
  padding: 1em;
  background-color: #402a2a;
  background: rgba(0, 0, 0, 0.59);
  border-bottom: 5px solid #fbb03b;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.shop_url {
    text-decoration: none;
    color: white;
}

.shop_link {
  padding: 1em;
  background-color: #402a2a;
  background: rgba(0, 0, 0, 0.59);
  border-bottom: 5px solid #fbb03b;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;

}


.shop_link:hover {
	background: rgba(0,0,0,0);
	color: #fbb03b;
	box-shadow: inset 0 0 0 3px #fbb03b;

}

.shop_url:hover {
    color: #fbb03b;
}

.link:hover {
	background: rgba(0,0,0,0);
	color: #fbb03b;
	box-shadow: inset 0 0 0 3px #fbb03b;

}

.myimg {
    width: 20%;
    height: 20%;
}

.shopimg{
    display: block;
    margin: 0 auto;
    aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.price {
    background-color: #f7f7f7;
    padding: 1rem;
    margin-top: 20px;
    /* Чёрная рамка */
    border-radius: 3px;
    margin-bottom: 30px;


}

.alert-light {
    border-color: #bfbfbf;
    display: flex;
    width: 100%;
    margin-bottom: 500px;
}

.alert-light .shopimg{
    width: 30%;
    margin: 0 20px 0 0;
    height: fit-content;
}

.link div {
  display: block; /* Ссылка как блочный элемент */
  text-align: center; /* Выравнивание по центру */
  height: 100%; /* Высота на весь слой */
  color: white; /* Цвет ссылки */
  font-size: 14pt;
  text-decoration: none !important;
}




.list2b li:hover {
    background: #F0F5FB;
    border: 2px solid #ADCEE9;
}
.list2b li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #77AEDB;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list2b li:hover:before {
    width:46px;
    background: #337AB7;
}
.list2b li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #77AEDB;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list2b li:hover:after {
    margin-left: 6px;
    border-left-color: #337AB7;
}

li {
  font-size: 17px;
  font-style: cursive;
}

span {
  font-size: 27px;
  font-style: cursive;
}

.user_in_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.my_login_input{
    width: 100%;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.style_form {
    background-color: white;
    padding: 35px;
    outline: 1px solid #bdbdbd; /* Чёрная рамка */
    border-radius: 15px;
    margin-bottom: 400px;

}



.log_in_button {
    width: 273px;
}