{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
        </div>
    <p><h2>Ви вишли</h2></p>






          <div class="col-md-4">

          </div>
      </div>
</div>

{% endblock %}
