{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
      <div class="row">
      <div class="col-md-4">
      </div>
          <div class="col-md-4">
<div class="style_form">
<form method="post" class="user_in_form">
    {% csrf_token %}
    <p>{{ form.username }}</p>
    <p>{{ form.password }}</p>
<p>Ви ще не зареєстровані?<a href="#">Зареєструватись</a></p>
<p>Забули пароль? <a href="#">Відновити</a></p>
    <button class="btn btn-outline-success log_in_button" type='submit'>Вхід</button>
</form>
    </div>
</div>





      </div>
</div>

{% endblock %}
