{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="content">
<h1 class="val">СТО "КОЛІЩА"</h1>
<div class="two-blocks">
    <p class="text-onas">Автосервіс «КОЛІЩА» надає широкий спектр послуг з ремонту автомобілів у Черкасах понад 20 років! Ми займаємося повним циклом технічного обслуговування автомобіля, який охоплює всі вузли та деталі, всі можливі життєво важливі системи Вашого автомобіля.</p>
    <p class="text-onas">Ми готові до вирішення нестандартних завдань, наприклад, знайдемо вирішення проблеми, не вдаючись до дорогої заміни вузла. Ми цінуємо свою репутацію і впевнені: звернувшись до нас, ви перестанете шукати ідеальний автосервіс.</p>
</div>
<h3 class="vse">За 20 років досвіду навичились робити майже "ВСЕ"</h3>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static '/slider_5.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static '/slider_9.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static '/slider_10.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static '/slider_6.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static '/slider_2.jpg' %}" class="d-block w-100" alt="...">
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<h1 class="val2">5 причин вибрати ремонт свого автомобіля на СТО "КОЛІЩА"</h1>
<hr class="hr-dashed-gradient">

<style>
.hr-dashed-gradient {
	margin: 25px 0;
	padding: 0;
	height: 4px;
	border: none;
	background: linear-gradient(to right, transparent 50%, #fff 50%),
				linear-gradient(to right, blue, red);
	background-size: 16px 2px, 100% 2px;
}

</style>
<ul class="list2b">
    <li>
      <span>Ви точно знаєте, за що ви платите. </span>Ремонт автомобіля в автосервісі СТО 100 - відсутність неузгоджених з вами дій. При оформленні замовлення у вас буде точна інформація про необхідні запчастини, роботи, терміни і вартість послуг.</li>
    <li><span>Доброзичливе ставлення. </span>Всі співробітники нашого автосервісу ввічливі та привітні.</li>
    <li><span>ЧЕСНИЙ сервіс. </span>Будьте певні: спеціалісти «СТО 100» не запропонують вам відремонтувати чи замінити те, що не потрібно. Вони чесно розкажуть, що потрібно зробити терміново, а з чим можна почекати. Крім того, майстри дадуть відповідь на всі ваші питання, пов'язані з обслуговуванням автомобіля.</li>
    <li><span>Ми відкриті для клієнтів. </span>Бажаєте особисто впевнитись у несправностях вашого авто? За бажання ви можете пройти в ремонтну зону та переконатися у виявлених поломках. При зверненні до нашого автосервісу ви завжди знатимете, хто зі співробітників відповідає за машину і хто саме проводить ремонт.</li>
    <li><span>Відсутність повторних звернень. </span>Якщо ви вибрали автосервіс «СТО 100» значить, поїдете від нас на повністю справній машині.</li>
</ul>

<h1 class="val2">Види ремонту</h1>
<hr class="hr-dashed-gradient">

<style>
.hr-dashed-gradient {
	margin: 25px 0;
	padding: 0;
	height: 4px;
	border: none;
	background: linear-gradient(to right, transparent 50%, #fff 50%),
				linear-gradient(to right, blue, red);
	background-size: 16px 2px, 100% 2px;
}

</style>

<div class="wrapper">
   <a class="link" href="{url 'detail'}"><div><img src="{% static '/shinomontazh.png' %}" class="w-100 icon" alt="..."><p>Шиномонтаж</p></div></a>
    <a class="link" href="{url 'detail'}"><div><img src="{% static '/kuzovnoi.png' %}" class="w-100 icon" alt="..."><p>Кузовний ремонт</p></div></a>
    <a class="link" href="{url 'detail'}"><div><img src="{% static '/hodovaya.png' %}" class="w-100 icon" alt="..."><p>Ремонт ходової</p></div></a>
    <a class="link" href="{url 'detail'}"><div><img src="{% static '/pokraska.png' %}" class="w-100 icon" alt="..."><p>Покраска</p></div></a>
    <a class="link" href="{url 'detail'}"><div><img src="{% static '/tormozna.png' %}" class="w-100 icon" alt="..."><p>Ремонт тормозної системи</p></div></a>
    <a class="link" href="{url 'detail'}"><div><img src="{% static '/diagnostikato.png' %}" class="w-100 icon" alt="..."><p>Диагностика та ТО</p></div></a>
</div>
</div>
{% endblock %}